@import '../../styles/utils';

.CreateJob {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    label {
      margin-top: 10px;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input {
      width: 250px;
      padding: 8px 10px;
      border: 2px solid lightgrey;
      border-radius: 7px;

      &:focus {
        border: 2px solid rgba(108, 99, 255, 1);
      }
    }

    button {
      background-color: rgba(108, 99, 255, 1);
      color: #edf0f1;
      padding: 0.75rem 1.25rem;
      margin: 20px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background-color: rgba(108, 99, 255, 0.8);
      }
    }
  }
}
