@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oxanium&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #edf0f1;
  color: #24252a;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oxanium', sans-serif;
}

p {
  color: grey;
  line-height: 1.75;
  margin: 20px 0;
}
